:80 {
	encode gzip

	handle /api/* {
		reverse_proxy agent-server:8000
	}
	handle /ws/* {
		reverse_proxy agent-server:8000
	}
	handle {
		root * /srv/www
		try_files {path} /index.html
		file_server
	}
}
